body {background-image: url(../images/mis.gatos.jpg);
text-align: center;}
.titulo{background-color: aquamarine;}
.desarrollo{background-color: aquamarine;}    
.gatos{background-color:lightgreen ;}
.familia{background-color: lightblue ;}
form {font-weight: bolder;}

